.disabled {
  background-color: var(--grey);
  border: 5px solid var(--grey);
  color: var(--grey);
}


.theme_default {
  background-color: #f0ad4e; 
}

.theme_dark {  
  background-color: #665c3c;   
}