.review-form__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
  font-weight: 600;
}

.review-form__item {
  margin-bottom: .4rem;
}

.review-form__message {
  max-width: 70%;
  width: 100%;
  
}

textarea {
  height: 5.2rem;
}

input[type=email], input[type=tel], input[type=text], textarea {
  border: 1px solid #c4c4c4;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 9px 16px;
  font-size: 16px;
  line-height: 1.2;
  outline: none;
  box-shadow: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.review-form__rate {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  white-space: nowrap; 
}

.review-form__rate_wrapper>span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.review-form__rate_wrapper {
  display: flex;
  gap: 1rem;
}

.review-form__submit {
  border: none;
  color: var(--white);
  padding: .2rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: .2rem;
  cursor: pointer;
}

.yellow {
  color: var(--yellow);
}

.grey {
  color: var(--grey);
}

.rate-name {
  margin-bottom: 1rem;
}

fieldset {
  border: none;
}

.form-group {
  margin-bottom: 10px;
  margin-left: 25px;
  display: flex;
  flex-direction: column ;
  justify-content: start;
}

.form-name {
  margin-bottom: 5px;
}

/* radio buttons */
