.root {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.header {
  position: sticky;
  top: 0;  
  flex: 0 0 auto;
}


.footer {
flex: 0 0 auto;
}

.content-container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 40rem;
  flex: 1 0 auto;
  }
  
