.top-container {
  background-color: var(--groung-body);
  padding: 1rem;
  text-align: center;
  color: var(--ground-header)
}

/* Style the header */
.header {
  padding: 1rem;
  background-color: var(--ground-header);
  color: #f1f1f1;
  text-align: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + div[class="tabs-container"] {
  padding-top: 20rem;
} */

