.top-container {
  background-color: var(--groung-body);
  padding: 1rem;
  text-align: center;
  color: var(--ground-header)
}

/* Style the header */
.header {
  padding: 1rem;
  background-color: var(--ground-header);
  color: #f1f1f1;
  text-align: center;
}

.theme-button {
  background-color: var(--ground-button-100); 
  border: none;
  color: var(--white);
  padding: .2rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: .2rem;
}
