.button {
  background-color: var(--ground-button); 
  border: none;
  color: var(--white);
  padding: .8rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: .2rem;
}

.button:hover {
  background-color: var(--button-hover);
  color: var(--ground-header);
}

.active {
  border-bottom: 3px solid #F9DEC9;
  color: var(--white);
  /* padding-top: 5rem; */
}